.api-item{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    box-shadow: 0 20px 53px -30px rgba(#5f66ad, .57);
    position: relative;
    min-height: 210px;
    overflow: hidden;
    .item-icon{
        width: 64px;
        height: 64px;
        min-width: 64px;
        display: grid;
        place-items: center;
        margin-right: 25px;
    }
    .item-detail{
        h2{
            font-size: 22px;
            color: #151926;
            margin-bottom: 5px;
        }
        .item-category{
            font-size: 14px;
            color: rgba(#151926, .7);
            margin-bottom: 10px;
        }
        .item-description{
             color: #151926;
             font-size: 16px;
             transition: all .3s ease;
        }
    }
    .item-hover{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 88px;
        background: #f9fbfc;
        display: flex;
        align-items: center;
        padding: 0 21px;
        transform: translateY(100%);
        transition: all .3s ease;
        cursor: pointer;
        a, button{
            flex: 1;
            margin: 0 9px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            font-size: 16px;
        }
        button{
            background: #fff;
            color: #141a31;
            svg{
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
        a{
            background: #141a31;
            color: #fff;
            text-decoration: none;
            svg{
                width: 24px;
                height: 24px;
                margin-left: 5px;
            }
        }
    }
    &:hover{
        .item-detail .item-description{
            opacity: 0;
        }
        .item-hover{
            transform: translateY(0);
        }
        
    }
  }